body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 48px;
    padding: 0;
    color: #fff;
    background-color: #E35446;
}

img {
    max-width: 100%;
}

.content {
    max-width: 680px;
    padding: 0 10px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: "Filson Pro", sans-serif;
    margin: 0;
}

h1 {
    font-size: 2.85em;
    font-weight: 200;
    margin: 8px 0;
    padding-bottom: 16px;
    display: inline-block;
    border-bottom: 2px solid #FFC84D;
}

h2 {
    color: #FFC84D;
    font-size: 1.8em;
    margin: 0 0 18px;
    font-weight: 300;
}

h5 {
    color: #E35446;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 16px;
}

p {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5em;
    margin-bottom: 16px;
}

p.intro {
    font-size: 1.15em;
    line-height: 1.7em;
    margin: 0 0 8px 24px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cccccc;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #cccccc;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #cccccc;
}

:-moz-placeholder { /* Firefox 18- */
    color: #cccccc;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 200, 77, .1) inset;
    transition: background-color 5000s ease-in-out 0s;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes rotation-reverse {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-359deg);
    }
}
